.form {
    max-width: 300px;
    margin: auto;
  }

.delete-button{
    position: absolute;
    right: 0%;
    margin-top: -1.2%;
}  
.edit-button{
    position: absolute;
    right: 4%;
    margin-top: -1.2%;
}
.edited{
    color: mediumblue;  
}  
.small-button{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}
.edit-input{
    margin-right: 0%;
}